:root {
  --main-bg-color: #1f2633;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main {
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*canvas*/
#canvasOverlayContainer {
  flex: 1 1 auto;
}

#navigatorContainer {
  flex: 1 1 auto;
}

#canvasOverlayContainer {
  position: relative;
  top: 0px;
  left: 0px;
}

#wormholeContainer {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 10%;
  padding-top: 10%;
  z-index: 0;
  height: auto;
  background-color: black;
  border: solid black 1px;
  border-radius: 50%;
  box-shadow: 0 0 10px #064ce0,0 0 50px #7f95c1;
}

canvas {
  position: relative;
  z-index: 1;
}

/*navigator*/
#navigatorContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#navigatorCarousel {
  border: solid white 1px;
  color: white;
}
#navigatorleftRight {
  width: 100%;
  height: 20%;
  border-bottom: solid white 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#navigatorNavTopics {
  flex: 1 1 auto;
  height: 100%;
}
#navigatorLeft {
  flex: 0 1 auto;
  height: 100%;
  width: 25%;
  border-left: solid white 1px;
}
#navigatorRight {
  flex: 0 1 auto;
  height: 100%;
  width: 25%;
  border-left: solid white 1px;
}
#navigatorUpDown {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#navigatorUpDownControls {
  height: 100%;
  width: 15%;
  border-right: solid white 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#navigatorUp {
  flex: 1 1 auto;
  width: 100%;
  border-bottom: solid white 1px;
}
#navigatorDown {
  flex: 1 1 auto;
  width: 100%;
}
#navigatorNavItems {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.navItem {
  flex: 1 1 auto;
  width: 100%;
  border-bottom: solid white 1px
}
.navItem:last-child {
  border: none;
}

#navigatorDesc {
  border: solid white 1px;
  padding: 10px;
  color: white;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*----------------------------------------------------------------BREAK POINTS*/
/*REPLACE WIDTH WITH DEVICE-WIDTH AFTER TESTING!*/
/*portrait*/
@media only screen
  and (orientation: portrait) {
    main {flex-direction: column;}
    #canvasOverlayContainer {order: 2;}
    #navigatorContainer {
      order: 1;
      flex-direction: row;
      border-bottom: solid white 2px;/*temporary for dev*/
    }
    #navigatorCarousel {
      width: 40%;
      height: 80%;
    }
    #navigatorDesc {
      width: 40%;
      height: 80%;
    }
  }
/*landscape*/
@media only screen
  and (orientation: landscape) {
    main {flex-direction: row;}
    #canvasOverlayContainer {order: 1;}
    #navigatorContainer {
      order: 2;
      flex-direction: column;
      border-left: solid white 2px;/*temporary for dev*/
    }
  }
/*small screen portrait*/
@media only screen
  and (orientation: portrait)
  and (max-width: 480px) {
    #canvasOverlayContainer {
      width: 100%;
      height: 50%;
    }
    #navigatorContainer {
      width: 100%;
      height: 50%;
    }
    #navigatorCarousel {
      width: 50%;
      height: 100%;
    }
    #navigatorDesc {
      width: 50%;
      height: 100%;
    }
}
/*small screen landscape*/
@media only screen
  and (orientation: landscape)
  and (max-height: 480px) {
    #canvasOverlayContainer {
      width: 50%;
      height: 100%;
    }
    #navigatorContainer {
      width: 50%;
      height: 100%;
    }
    #navigatorCarousel {
      width: 100%;
      height: 50%;
    }
    #navigatorDesc {
      width: 100%;
      height: 50%;
    }
}
/*medium screen portrait*/
@media only screen
  and (orientation: portrait)
  and (min-width: 481px)
  and (max-width: 1024px) {
    #canvasOverlayContainer {
      width: 100%;
      height: 70%;
    }
    #navigatorContainer {
      width: 100%;
      height: 30%;
    }
    #navigatorCarousel {
      width: 40%;
      height: 80%;
    }
    #navigatorDesc {
      width: 40%;
      height: 80%;
    }
}
/*medium screen landscape*/
@media only screen
  and (orientation: landscape)
  and (min-height: 481px)
  and (max-height: 1024px) {
    #canvasOverlayContainer {
      width: 65%;
      height: 100%;
    }
    #navigatorContainer {
      width: 35%;
      height: 100%;
    }
    #navigatorCarousel {
      width: 80%;
      height: 40%;
    }
    #navigatorDesc {
      width: 80%;
      height: 40%;
    }
}
/*large screen portrait*/
@media only screen
and (orientation: portrait)
  and (min-height: 1025px) {
    #canvasOverlayContainer {
      width: 100%;
      height: 65%;
    }
    #navigatorContainer {
      width: 100%;
      height: 35%;
    }
    #navigatorCarousel {
      width: 30%;
      height: 60%;
    }
    #navigatorDesc {
      width: 30%;
      height: 60%;
    }
}
/*large screen landscape*/
@media only screen
and (orientation: landscape)
  and (min-width: 1025px) {
    #canvasOverlayContainer {
      width: 65%;
      height: 100%;
    }
    #navigatorContainer {
      width: 35%;
      height: 100%;
    }
    #navigatorCarousel {
      width: 60%;
      height: 30%;
    }
    #navigatorDesc {
      width: 60%;
      height: 30%;
    }
}
