html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Homepage
    link(rel='stylesheet' href='/css/home.css')

  body
    main
      section(id='canvasOverlayContainer')
        canvas(width=20 height=20)
      section(id='navigatorContainer')
  
  script(src='/bundled-js/bundled-home.js')
