html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Homepage
    link(rel='stylesheet' href='/css/home.css')

  body
    main
      section(id='canvasOverlayContainer')
        div(id='wormholeContainer')
        canvas(width=20 height=20)
          
      section(id='navigatorContainer')
        
        div(id='navigatorCarousel')
          div(id='navigatorleftRight')
            div(id='navigatorNavTopics' class='centered') ..nav topic
            div(id='navigatorLeft' class='centered') L
            div(id='navigatorRight' class='centered') R
          div(id='navigatorUpDown')
            div(id='navigatorUpDownControls')
              div(id='navigatorUp' class='centered') U
              div(id='navigatorDown' class='centered') D   
            ul(id='navigatorNavItems')
              li(class='navItem centered') nav item
              li(class='navItem centered') nav item
              li(class='navItem centered') nav item
            
        div(id='navigatorDesc' class='centered') 
          p 
          | one two three four five 
          | six seven eight nine ten
          | eleven twelve thirteen fourteen fifteen
          
  
  script(src='/bundled-js/bundled-home.js')
